<header>
  <img
    src="assets/img/foto-perfil-2.jpg"
    alt="Dener - Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>André Abrantes de Melo Pontes</h1>
</header>

<aside>
  <div class="container">
    <p>Dev. Frontend Typescript | Angular | NodeJs | Css</p>
    <p>Brasília - DF, Brasil</p>
    <p>Trabalho na área de desenvolvimento de software há mais de 2 anos.</p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cvAndre.pdf" target="_blank" class="btn btn-primary"
            >Download Cv</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/andre-melo-77451b83/"
            target="_blank"
            class="btn btn-secondary"
            >LinkedIn</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ìcone de contato do whatsapp"
          width="22px"
          height="22px"
        />
        <figcaption>
  <a href="https://wa.me/5561985232644?text=Ol%C3%A1%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es"
     (click)="handleWhatsAppClick($event, '5561985232644', 'Olá, gostaria de mais informações')">
    <strong>Envie uma mensagem para:</strong> WhatsApp: (61) 98523-2644
  </a>
</figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ìcone de contato do whatsapp"
          width="22px"
          height="22px"
        />
        <figcaption>
          <a href="mailto:meloabrantes@gmail.com">
            <strong>Envie uma e-mail para:</strong>
            <p>meloabrantes&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
